
<!DOCTYPE html>
title #{titulo}
link(rel="stylesheet", href="/css/main.css")

block styles
    link(rel="stylesheet", href="/css/login.css")

block content
    main(style="width:100%;")
        form.box-center_flex(style="height:100%;" action="/usuario/login", method="POST")
            .box-center_flex(style="border: 1px solid black;border-radius:5px;padding:20px;")
                div Correo Electronico *
                input(name="email")
                div Contraseña *
                input(name="password")
                button(type="submit") INICIAR SESIÓN
