<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <main>
        <div class="box-center_flex">
            <form action="/usuario/login" method="POST">
                    <div>Inicio de sesión de cliente</div>
                    <div class="box-center_flex">
                        <label >Correo electrónico *</label>
                        <input type="text" name="email" >
                    </div>
                    <div class="box-center_flex">
                        <label >Contraseña *</label>
                        <input type="text" name="password" >
                    </div>
                    <div class="box-center_flex">
                        <button class="btn" type="submit">INICIAR SESIÓN</button>
                    </div>
            </form>
        </div>
        <div class="box-center_flex">
            <form action="/signup" method="GET">
                <div class="box-center_flex">Nuevos clientes</div>
                <div class="box-center_flex">Crear una cuenta tiene muchos beneficios: Pago más rápido, guardar más de una dirección, seguimiento de pedidos y mucho más.</div>
                <div class="box-center_flex">
                    <button class="btn" type="submit">CREAR UNA CUENTA</button>
                </div>
            </form>
        </div>

    </main>
<%- include('includes/end.ejs') %>