<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <main>
        <div class="box-center_flex">
            <form action="/usuario/signup" method="POST">
                    <div class="box-center_flex">Crear nueva cuenta de cliente</div>
                    <div >Información Personal</div>
                    <div class="box-center_flex">
                        <label>Nombres *</label>
                        <input type="text" name="nombres" >
                    </div>
                    <div class="box-center_flex">
                        <label>Apellidos *</label>
                        <input type="text" name="apellidos" >
                    </div>
                    <div class="box-center_flex">Información de inicio de sesión</div>
                    <div class="box-center_flex">
                        <label>Correo electrónico *</label>
                        <input type="text" name="email" >
                    </div>
                    <div class="box-center_flex">
                        <label>Contraseña *</label>
                        <input type="text" name="password" >
                    </div>
                    <div class="box-center_flex">
                        <label>Confirmar Contraseña *</label>
                        <input type="text" name="password2" >
                    </div>
                    <div class="box-center_flex">
                        <button class="btn" type="submit">CREAR UNA CUENTA</button>
                    </div>
            </form>
        </div>


    </main>
<%- include('includes/end.ejs') %>